header p.footnote {
	font-size: 12px; line-height: 1.5; color: #666; margin: 22px 0 0 0;
}

#cards {
	padding-top: 22px;
	
	.card {
		background-color: #f1f1f1;
		border: 1px solid #ddd;
		margin-bottom: 22px; 
	}
	h3 { 
		color: #444;
		margin: 0;
		font-size: 18px;
		
		.name { font-weight: bold; }
		.age { font-size: 80%; color: #666; }
		.meta { font-size: 80%; color: #666; float: right; padding-top: 3px; }
		.state { padding-left: 16px; }
	}
    .card-header {
        padding: 22px 22px;
        background-color: #ddd;
    }
    .card-footer {
    	margin: 0 22px 11px 22px;
    	padding-top: 11px;
    	border-top: 1px solid #ddd;

    	h3 { font-size: 12px; opacity: .6; }
    }
    .card-content {
    	padding: 22px;
    	
    	h4 {
    		font-size: 15px;
    		line-height: 1.5;
    		color: #666;
    		width: 20%;
    		float: left;
    		margin-top: 0;
    	}
    		
    	p {	
    		color: #454545;
    		margin-bottom: 11px;
    		font-size: 15px;
    		
    		&.quote {
				padding-left: 28px;
				font: normal 20px/1.3 Georgia, serif;
				position: relative;
				
				span {
					position: absolute;
					left: -1px;
					top: -14px;
					display: block;
					font-size: 50px;
					font-weight: bold;
					color: #787878;
				}
			}
    	}
    	
    	.report-info,
    	.fine-info {
    		margin-left: 25%;
    		max-width: 600px;
    	}
    	
    	.fines { 
    		border-top: 1px solid #ddd;
    		padding-top: 22px;
    		margin-top: 11px;
    		
    		p { 
    			margin-bottom: 0;
    			height: 1.7em;
    			overflow: hidden;
    		}
    		strong { 
    			width: 25%; 
    			display: inline-block;
    			float: left;
    		}
			.amt-wrap {
				width: 75%; 
				display: inline-block; 
				float: right;
				position: relative;
			}
			.bar {
				display: inline-block;
				background-color: #bccae5;
				width: 0%;
				height: 1.5em;
				opacity: .7;
			}
			.amt { 
				position: absolute;
				left: 6px;
			}
    	}
    	.fines:after,
    	.fine-info:after,
    	.fines p:after,
    	.coroner-report:after {
    		content: "."; display: block; height: 0; clear: both; visibility: hidden;
    	}
    }
}

@media (max-width: 600px) {
	#cards .card-header h3 {
		font-size: 16px;
		.meta { float: none; display: block; margin-top: 3px; }
	}
	#cards .card-content {
		p.quote { font-size: 17px; }
		p.quote span { font-size: 42px; }
	}
}
@media (max-width: 480px) {
	#cards {
		.card-header {
			padding: 15px 11px;
			h3 .meta { float: none; display: block; margin-top: 3px; }
		}
		.card-footer {
			margin: 11px;
		}
		.card-content {
			padding: 11px;
			h4,
			.report-info, 
			.fine-info { width: auto; float: none; margin-left: 0; }
			h4 { margin-bottom: 11px; }
		}
	}
}