header {
	background: url('../img/bg-image-grain-bin.jpg') no-repeat 0 0;
	background-size: cover;
	height: 450px;
	padding-top: 0;
	padding-bottom: 0;
	
	.introduction { 
		width: 40%;
		height: 450px;
		padding: 0 3%;
		margin-left: -3%;
		background: none;
		background: rgba(1,1,1,.2);
		position: relative;
	}

	ul.series-breadcrumb {
		padding-top: 55px;
		font-size: 12px;
		font-weight: bold;
		text-transform: lowercase;
		color: #6d8ac4;
		margin: 0 0 11px 0;

		li {
			display: inline;
			padding-right: 14px;
			background: url('../img/icon_arrow_gray_ccc.png') no-repeat right;
			margin-right: 3px;

			&.last { background: none; }
		}
		a { color: #bbc9e5; }
		a:hover, a:active { opacity: .7; }
	}
	h1 { color: #fff; }
	h2 { color: #ccc; line-height: 1.4; }
	p.caption {
		font-size: 12px;
		line-height: 1.4;
		color: #666;
		margin: 0 20px 0 0;
		position: absolute;
		bottom: 22px;
	}
}

.footnotes {
	padding-bottom: 22px;
	border-bottom: 1px solid #555;
	margin-bottom: 22px;

	p.footnote {
		font-size: 11px;
		line-height: 1.4;
		color: #999;
		margin: 0 0 11px 0;
	}
	p.credits {
		color: #999;
		margin: 0;
		font-size: 11px;
		line-height: 1.4;
		font-style: italic;
	}
	a { color: #bbc9e5; }
	a:hover, a:active { opacity: .7; }
}

.state-filters {
	font-size: 14px;
    margin-bottom: 22px;

	h4 { display: none; }
    .filter-state {
    	display: block;
    	float: left;
        line-height: 30px;
        text-align: center;
        color: #c4cee6;
        padding: 0 6px;
        margin: 0 2px 2px 0;
        background-color: #787878;

        &:hover {
        	opacity: .7;
        	color: #fff;
        }
        &:first-child {
        	width: auto;
        	padding: 0 9px;
        }
        &.active {
            color: #666;
            font-weight: bold;
            background-color: #ccc;

            &:hover { opacity: 1; color: #666; cursor: default; }
        }
    }
	#filter-state-buttons:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
}

#cards {
	padding-top: 22px;
	background-color: #4C4C4C;

	.card {
		background-color: #fff;
		border: 1px solid #ddd;
		margin-bottom: 33px;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	}
    .card-header {
        padding: 22px 22px 16px 22px;
        background-color: #ebebeb;
		font-size: 18px;
		color: #444;

    	&:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		h3 {
			font-size: 18px;
			color: #444;
			margin: 0;
			width: 50%;
			float: left;

			.name { font-weight: bold; }
			.age { font-size: 80%; color: #666; }
            .link { font-size: 80%; opacity: .5; font-weight: bold; padding-left: 5px; }
		}
		.meta {
			width: 50%;
			float: right;
			font-size: 80%;
			color: #666;
			text-align: right;
		}
    }
    .card-content {
    	padding: 22px;
    	position: relative;

    	&:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    	h4 {
    		font-size: 15px;
    		line-height: 1.5;
    		color: #666;
    		margin: 0 0 11px 0;
    	}
    	p {
    		color: #454545;
    		margin-bottom: 11px;
    		font-size: 15px;

    		&.quote {
				padding-left: 28px;
				font: normal 20px/1.3 Georgia, serif;
				position: relative;

				.quotemark {
					position: absolute;
					left: -1px;
					top: -14px;
					display: block;
					font-size: 50px;
					font-weight: bold;
					color: #787878;
				}
                .source {
                    position:relative;
                    left:0;
                    top:0;
                    display:inline;
                    font-size:80%;
                    font-weight:normal;
                }
			}

			&.full-report {
				font-size: 80%;
				margin-bottom: 0;
				margin-left: 28px;
			}
    	}

    	.coroner-report {
    		width: 60%;
    		float: left;
    	}
    	.fines {
    		width: 35%;
    		float: right;
    		margin-bottom: 135px; // to account for the map below it

    		p {
    			margin-bottom: 3px;

    			&:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    		}
    		strong {
    			width: 40%;
    			display: inline-block;
    			float: left;
    		}
			.amt-wrap {
				width: 60%;
				display: inline-block;
				float: right;
				position: relative;
				background-color: #e0e0e0;
				height: 1.6em;
				overflow: hidden;
			}
			.bar {
				display: inline-block;
				background-color: #bccae5;
				width: 0%;
				height: 1.6em;
			}
			.amt {
				position: absolute;
				left: 6px;
			}
			.fine-reduction {
				font-size: 80%;
				color: #666;
				padding-left: 5px;
			}
    	}
    	.incident-map {
    		width: 90px;
    		position: absolute;
    		bottom: 22px;
    		right: 22px;
    		text-align: center;
    		
    		p { 
    			font-size: 12px; 
    			line-height: 1.3;
    			color: #999; 
    			margin: 3px 0 0 0;
    		}
    		img {
    			display: block;
    			width: 100%;
    			height: auto;
    		}
    	}
    }
}

@media (min-width: 1200px) {
	header {
		.introduction { width: 32%; }
		ul.series-breadcrumb { padding-top: 77px; }
	}
	#cards .card-content .fines {
		strong { width: 25%; }
		.amt-wrap { width: 75%; }
	}
}
@media (max-width: 979px) {
	header {
		.introduction { width: 50%; }
		ul.series-breadcrumb { padding-top: 44px; }
	}
}
@media (max-width: 767px) {
	header {
		background-position: 25% 0;
		.introduction { width: 50%; }
		h1 { font-size: 42px; }
		h2 { font-size: 13px; }
		ul.series-breadcrumb { 
			padding-top: 44px;
			li { display: none; }
			li.last { display: inline; }
		}
	}
	.state-filters {
		.filter-state {
			min-width: 42px;
			line-height: 44px;
			margin-right: 3px;
			margin-bottom: 3px;
		}
	}
	#cards {
		margin: 0 -20px;
		padding-left: 20px;
		padding-right: 20px;
		.card { margin-bottom: 22px; }
	}
}
@media (max-width: 675px) {
	header .introduction { width: 60%; }
	#cards {
		.card-header {
			font-size: 16px;

			 h3 {
				font-size: 16px;
				width: auto;
				float: none;
			}
			.meta {
				width: auto;
				float: none;
				margin-top: 3px;
				text-align: left;
			}
		}
		.card-content {
			p.quote {
				font-size: 17px;
				.quotemark { font-size: 42px; }
			}
			.coroner-report {
				width: auto;
				float: none;
			}
			.fines {
				width: auto;
				float: none;
				margin: 22px 0 0 0;
				border-top: 1px solid #ddd;
				padding-top: 22px;
			}
			.incident-map {
				position: static;
				bottom: auto;
				right: auto;
				width: auto;
				margin-top: 22px;
				border-top: 1px solid #ddd;
				padding-top: 11px;
				text-align: left;
				
				img { width: 90px; float: left; margin-right: 11px; }
				p { margin-top: 35px; }
			}
		}
	}
}
@media (max-width: 480px) {
	header { 
		background-image: url('../img/bg-image-grain-bin-480.jpg');
		background-size: auto;
		height: auto;
		
		.introduction { 
			width: auto; 
			height: auto;
			margin: 200px -20px 0 -20px; 
			padding: 22px 15px 26px 15px; 
		}
		ul.series-breadcrumb {
			padding-top: 0;
			a { color: #4774cc; opacity: .7; }
			a:hover, a:active { opacity: .4; }
		}
		h1, h2 { color: #666; }
		p.caption { 
			position: static; 
			bottom: auto; 
			margin: 22px 0 0 0;
			font-size: 11px;
		}
	}
	footer { margin-top: 0; }
	.state-filters {
		h4 {
			display: block;
			cursor: pointer;
			line-height: 44px;
			padding: 0 20px;
			background-color: #7598c9;
			color: white;
			font-size: 13px;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			margin-bottom: 3px;

			&:hover { opacity: 0.7; }
			&:before { content: '\0025B6'; width: 22px; display: inline-block; }
			&.active:before { content: '\0025BC'; }
			span { display: inline; }
		}
		#filter-state-buttons {
			display: none;

			&.active { display: block; }
		}
	}
	#cards {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;

		.card-header { padding: 14px 15px 9px 15px; }
		.card-content {
			padding: 11px 15px;
			p.quote { padding-right: 15px; }
		}
	}
}
