<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document: Grain Bin Accident Report | NPR</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />
    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
</head>

<body style="margin: 0; padding: 0; background-color: #fff;">

<div id="DV-viewer-623879-pacas-amp-whitebread-accident" class="DV-container"></div>
<script src="http://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>

<script>
var docsidebar; 
if (window.innerWidth > 420) {
    docsidebar = true;
}
else {
    docsidebar = false;
}
DV.load("http://www.documentcloud.org/documents/623879-pacas-amp-whitebread-accident.js", {
    width: '100%',
    height: 800,
    text: false,
    pdf: false, 
    sidebar: docsidebar,
    container: "#DV-viewer-623879-pacas-amp-whitebread-accident"
});
</script>





<!-- GOOGLE ANALYTICS -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<!-- CHARTBEAT -->
<script type="text/javascript">
    var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 18888;
    _sf_async_config.domain = "npr.org";
    /** CONFIGURATION END **/
    (function(){
        function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement("script");
            e.setAttribute("language", "javascript");
            e.setAttribute("type", "text/javascript");
            e.setAttribute("src",
                (("https:" == document.location.protocol) ?
                 "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                 "http://static.chartbeat.com/") +
                "js/chartbeat.js");
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != "function") ?
            loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>

</body>
</html>