{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/grainbins.less') }}
{% endblock %}

{% block header_content %}
<header>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Grain Bin Deaths</h1>
				<h2>Brief intro to this grim app.</h2>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block full_content %}
<section id="cards">
    {% for incident in incidents %}
        <div class="tab">
            {% if not incident.name and not incident.age %}
                <div class="tab-header">Name unknown, age unknown / {{ incident.state }}</div>
            {% elif not incident.age %}
                <div class="tab-header">{{ incident.name }}, age unknown / {{ incident.state }}</div>
            {% elif not incident.name %}
                <div class="tab-header">Name unknown, {{ incident.age }} years old / {{ incident.state }}</div>
            {% else %}
                <div class="tab-header">{{ incident.name }}, {{ incident.age }} years old / {{ incident.state }}</div>
            {% endif %}

            {% if incident.narrative %}
                <div class="tab-content">{{ incident.narrative }}</div>
            {% else %}
                <div class="tab-content">This person's story could not be found.</div>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock %}
