{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/grainbins.less') }}
{% endblock %}

{% block header_content %}
<header>
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="series-breadcrumb">
					<li><a href="http://www.npr.org/sections/investigations/">NPR News Investigations</a></li>
					<li class="last"><a href="##TODO-NEED-LINK##">NEED TITLE Grain Bin Series</a></li>
				</ul>
			
				<h1>{{ PROJECT_NAME }}</h1>
				<h2>Brief intro to this grim app.</h2>
				<p class="footnote">
					<strong>Note:</strong> The data come from the U.S. Occupational Safety and Health Administration worksite inspection database, known as IMIS. In some cases, grain incident details — such as victim names and ages — were added by NPR based on news reports and public records. The incident narratives, however, were written entirely by the agency and not edited.
					<strong><a href="https://docs.google.com/spreadsheet/pub?key=0AiINjEdvBDPadHBLNjdlX3hvaEFqbnNTZVBpSGZEbkE&single=true&gid=0&output=csv">Download This Dataset</a></strong> (CSV format)
				</p>
				<p class="project-credits">
					Credits: Howard Berkes, Matt Stiles, Jeremy Bowers, Alicia Cypress, Christopher Groskopf, Alyson Hurt and Katie Zhu / NPR<br>
					Questions? Problems? E-mail <a href="mailto:##NEED-EMAIL##">NEED-EMAIL@npr.org</a>.
				</p>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block full_content %}
<section id="cards">
	<div class="container">
        <div class="row">
            <div class="span12 state-filters">
            	<h4>Filter By State</h4>
            	<div id="filter-state-buttons">
					<a href="javascript:;" class="filter-state active" data-state="ALL">Show All</a>
					{% for state in states %}
						<a href="javascript:;" class="filter-state" data-state="{{ state }}">{{ state }}</a>
					{% endfor %}
				</div>
            </div>
        </div>

		<div class="row">
			<div class="span12">
				{% for incident in incidents %}
					<div id="id{{ incident.inspection_no }}" class="card {% if incident.state %}state-{{ incident.state }}{% endif %}">
						<div class="card-header">
							<h3>
								<span class="name">{% if incident.name %}{{ incident.name }}{% else %}Name unknown{% endif %}</span>,
								<span class="age">{% if incident.age %}{{ incident.age }} years old{% else %}age unknown{% endif %}</span>
							</h3>
							<div class="meta">
								<span class="date">{% if incident.incident_date %}{{ incident.clean_incident_date() }}{% else %}Date unknown{% endif %},</span>
								<span class="state">{% if incident.postofficename %}near {{ incident.postofficename }}, {{ incident.state }}{% else %}in {{ incident.state }}{% endif %}</span>
							</div>
						</div>

						<div class="card-content">
							<div class="coroner-report">
								<h4>Accident Summary</h4>
								{% if incident.narrative %}
									<p class="quote"><span class="quotemark">&ldquo;</span>{% autoescape False %}{{ incident.narrative }}{% endautoescape %}</p>
								{% else %}
									<p>OSHA accident investigation summary not available.</p>
								{% endif %}
								<p class="full-report"><a href="{{ incident.osha_url() }}">Full Report From OSHA &rsaquo;</a></p>
							</div>
							<div class="fines">
								<h4>OSHA Fines Assessed</h4>
								<p class="fine-initial"><strong>Initial fine:</strong>
									<span class="amt-wrap">
										<span class="bar" data-amt="{{ incident.initial_fine }}"></span>
										<span class="amt">{% if incident.initial_fine %}${{ incident.clean_fine_amount(incident.initial_fine) }}{% else %}Unknown{% endif %}</span>
									</span>
								</p>
								<p class="fine-final"><strong>After appeal:</strong>
									<span class="amt-wrap">
										<span class="bar" data-amt="{{ incident.current_fine }}"></span>
										<span class="amt">{% if incident.current_fine %}${{ incident.clean_fine_amount(incident.current_fine) }}{% else %}Unknown{% endif %}</span>
									</span>
								</p>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
