{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/grainbins.less') }}
{% endblock %}

{% block header_content %}
<header>
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="introduction">
					<ul class="series-breadcrumb">
						<li><a href="http://www.npr.org/sections/investigations/">NPR News Investigations</a></li>
						<li class="last"><a href="http://www.npr.org/templates/story/story.php?storyId=174755100">More Stories in the Series</a></li>
					</ul>

					<h1>'Buried In Grain'</h1>
					<h2>Nearly 180 people &mdash; including 18 teenagers &mdash; have been killed in grain-related entrapments at federally regulated facilities across 34 states since 1984, records show. Their employers were issued a total of $9.2 million in fines, though regulators later reduced the penalties overall by 59 percent. Read about the incidents here.</h2>

					<p class="download-link">
						<a href="https://docs.google.com/spreadsheet/pub?key=0AiINjEdvBDPadHBLNjdlX3hvaEFqbnNTZVBpSGZEbkE&single=true&gid=0&output=csv" onclick="_gaq.push(['_trackEvent', 'Data', 'Download Dataset', '{{ PROJECT_NAME }}']);">Download This Dataset</a> |
						<a href="#footnotes"> About This Data</a>
					</p>

					<p class="caption">
						Photo: Grain elevator manager Austin Clubb surveys corn inside a storage bin at Amana Farms in Homestead, Iowa. (John Poole / NPR)
					</p>

				</div>

			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block full_content %}
<section id="cards">
	<div class="container">
        <div class="row">
            <div class="span12 state-filters">
            	<h4>Filter By State</h4>
            	<div id="filter-state-buttons">
					<a href="javascript:;" class="filter-state active" id="state-btn-ALL" data-state="ALL">Show All States</a>
					{% for state in states %}
						<a href="javascript:;" class="filter-state" id="state-btn-{{ state }}" data-state="{{ state }}">{{ state }}</a>
					{% endfor %}
				</div>
            	<div id="filter-state-dropdown">
            		<select>
            			<option value="ALL" selected="selected">Show All States</option>
					{% for state in states %}
						<option value="{{ state }}">{{ state }}</option>
					{% endfor %}
					</select>
				</div>
            </div>
        </div>

		<div class="row">
			<div class="span12">
				{% for incident in incidents %}
                    <div id="{{ slug(incident) }}" class="card {% if incident.state %}state-{{ incident.state }}{% endif %}">
						<div class="card-header">
							<h3>
								<span class="name">{% if incident.name %}{{ incident.name }}{% else %}Name unknown{% endif %}</span>,
								<span class="age">{% if incident.age %}{{ incident.age }} years old{% else %}age unknown{% endif %}</span>
                                <span class="link">(<a href="#{{ slug(incident) }}">link</a>)</span>
							</h3>
							<div class="meta">
								<span class="date">{% if incident.incident_date %}{{ incident.clean_incident_date() }}{% else %}Date unknown{% endif %},</span>
								<span class="state">{% if incident.postofficename %}near {{ incident.postofficename }}, {{ incident.state }}{% else %}in {{ incident.state }}{% endif %}</span>
							</div>
						</div>

						<div class="card-content">
							<div class="coroner-report">
								<h4>Accident Summary</h4>
								{% if incident.narrative %}
									<p class="quote"><span class="quotemark">&ldquo;</span>{% autoescape False %}{{ incident.narrative }}{% endautoescape %}</p>
								{% else %}
									<p>OSHA accident investigation summary not available.</p>
								{% endif %}
								<p class="full-report"><a href="{{ incident.osha_url() }}">Online report from OSHA &rsaquo;</a></p>
								{% if incident.docurl %}
                                    <p class="full-report"><a href="{{ incident.docurl }}">Read government documents about this case &rsaquo;</a></p>
								{% endif %}
                                <p class="back-to-top">
                                    <a href="#cards">Back to top &rsaquo;</a>
                                </p>
							</div>
							<div class="fines">
								<h4>OSHA Fines Assessed</h4>
								<p class="fine-initial"><strong>Initial fine:</strong>
									<span class="amt-wrap">
										<span class="amt">{% if incident.initial_fine %}${{ incident.clean_fine_amount(incident.initial_fine) }}{% else %}Unknown{% endif %}</span>
									</span>
								</p>
								<p class="fine-final"><strong>After appeal:</strong>
									<span class="amt-wrap">
										<span class="amt">
											{% if incident.current_fine %}${{ incident.clean_fine_amount(incident.current_fine) }}{% else %}Unknown{% endif %}
											{% if incident.fine_percent_reduction() %}<span class="fine-reduction">({{ incident.fine_percent_reduction() }}% reduction)</span>{% endif %}
										</span>
									</span>
								</p>
							</div>
							<div class="incident-map">
								<img src="{{ incident.get_state_img() }}" alt="map" />
								<p>{% if incident.postofficename %}near {{ incident.postofficename }},&nbsp;{{ incident.state }}{% else %}in {{ incident.state }}{% endif %}</p>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div id="footnotes" class="span12">
				<p class="footnote">
					<strong>Note:</strong> The data come from the U.S. Occupational Safety and Health Administration worksite inspection database, known as IMIS. In some cases, grain incident details &mdash; such as victim names and ages &mdash; were added by NPR based on news reports and public records. The incident narratives, however, were written entirely by the agency and not edited. The data do not include details about grain entrapment deaths on farms, which are exempt from federal oversight in most cases.  OSHA records also appear to be incomplete so there may be additional cases not included in this interactive. NPR has attempted to identify and correct errors in the OSHA data, including names and ages. We welcome corrections from readers.

					<strong><a href="https://docs.google.com/spreadsheet/pub?key=0AiINjEdvBDPadHBLNjdlX3hvaEFqbnNTZVBpSGZEbkE&single=true&gid=0&output=csv" onclick="_gaq.push(['_trackEvent', 'Data', 'Download Dataset', '{{ PROJECT_NAME }}']);">Download This Dataset</a></strong> (CSV format)
				<br><br>Questions? Problems? E-mail <a href="mailto:##NEED-EMAIL##">mstiles@npr.org</a>.
				</p>
				
				<div class="sources">
				    <p>Sources: Occupational Safety and Health Administration; U.S. Department of Labor; Bill Field, Purdue University; U.S. Department of Justice; NPR/CPI analysis of OSHA records; news archives.</p>
				</div>
				
				<div class="credits">
				    <p>Reporting and data analysis by Howard Berkes and Matt Stiles / NPR; Jim Morris and Chris Hamby / CPI.</p>
				    <p>Design and development by Jeremy Bowers, Christopher Groskopf, Alyson Hurt and Katie Zhu.</p>
				</p>

			</div>
		</div>
	</div>
</section>
{% endblock %}
